@model PhillyZoo_App.DestinationLayer.Models.DestinationModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DestinationModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapPointID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MapPointID)
            @Html.ValidationMessageFor(model => model.MapPointID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusID)
            @Html.ValidationMessageFor(model => model.StatusID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapPointTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MapPointTypeID)
            @Html.ValidationMessageFor(model => model.MapPointTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortDescription)
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LongDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LongDescription)
            @Html.ValidationMessageFor(model => model.LongDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpeningTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpeningTime)
            @Html.ValidationMessageFor(model => model.OpeningTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClosingTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClosingTime)
            @Html.ValidationMessageFor(model => model.ClosingTime)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

