@model PhillyZoo_App.DestinationLayer.Models.DestinationPhotosModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreatePhotos", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DestinationPhotosModel</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.DestinationLayerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagePath)
        </div>
        <div class="editor-field">
            <div class="editor-field">
                <input name="libraryPhoto" type="file" id="libraryPhoto" value="Upload Picture" />
            </div>
            @Html.ValidationMessageFor(model => model.ImagePath)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
