@using System.Collections.Generic;
@model List<PhillyZoo_App.DestinationLayer.Models.DestinationEnterExitsModel>

<fieldset>
    <legend>DestinationEnterExitsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().DestinationLayerID)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().TypeID)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().Latitude)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().Longitude)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstOrDefault().IsHandicapAccessible)
    </div>
    

    @{foreach (var enterExit in Model)
    {
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstOrDefault(m => m.ID == enterExit.ID).DestinationLayerID)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstOrDefault(m => m.ID == enterExit.ID).TypeID)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstOrDefault(m => m.ID == enterExit.ID).Latitude)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstOrDefault(m => m.ID == enterExit.ID).Longitude)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.FirstOrDefault(m => m.ID == enterExit.ID).IsHandicapAccessible)
        </div>
    }
}
</fieldset>

