@model PhillyZoo_App.DestinationLayer.Models.DestinationModel

@{
    ViewBag.Title = "DetailDestination";
}

<h2>DetailDestination</h2>

<fieldset>
    <legend>DestinationModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MapPointID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapPointID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MapPointTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MapPointTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShortDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LongDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LongDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpeningTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpeningTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClosingTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClosingTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreviewPhoto)
    </div>
    <div class="display-field">
        @ViewBag.DestinationPreviewImage;
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThumbnailPhoto)
    </div>
    <div class="display-field">
        @ViewBag.DestinationThumbnailImage;
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
