@using PhillyZoo_App.DestinationLayer.Models;
@using System.Collections.Generic;
@model PhillyZoo_App.DestinationLayer.Models.DestinationModel

@{
    ViewBag.Title = "EditDestination";
}

<h2>EditDestination</h2>

@using (Html.BeginForm("EditDestination", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    Html.RenderPartial("CreateEditDestination", Model);
    <br />
    if (Model is IPhotos)
    {
        IPhotos myModel = Model as IPhotos;
        if (myModel.Photos != null)
        {
            <div>
                @Html.Partial("DetailPhotos", myModel.Photos)
            </div>
        }
        <div id="addPhotos" class="optionalForms">
            @Html.ActionLink("Add Photos", "CreatePhotos", new DestinationPhotosModel() { DestinationLayerID = Model.ID })
        </div>
        <div id="editPhotos" class="optionalForms">
            @Html.ActionLink("Edit Photos", "EditPhotos", new DestinationPhotosModel() { DestinationLayerID = Model.ID })
        </div>
    }
    <br />
    if (Model is IMenu)
    {
        IMenu myModel = Model as IMenu;
        if (myModel.Menu != null)
        {
            <div>
                @Html.Partial("DetailMenu", myModel.Menu)
            </div>
        }
        <div id="addMenus" class="optionalForms">
            @Html.ActionLink("Add Menu", "CreateMenu", new DestinationMenuModel() { DestinationLayerID = Model.ID })
        </div>
        <div id="editMenus" class="optionalForms">
            @Html.ActionLink("Edit Menu", "EditMenu", new DestinationMenuModel() { DestinationLayerID = Model.ID })
        </div>
    }
    <br />
    if (Model is IAdditionalFees)
    {
        IAdditionalFees myModel = Model as IAdditionalFees;
        if (myModel.AdditionalFees != null)
        {
            <div>
                @Html.Partial("DetailAdditionalFees", myModel.AdditionalFees)
            </div>
        }
        <div id="addAdditionalFees" class="optionalForms">
            @Html.ActionLink("Add Additional Fees", "CreateAdditionalFees", new DestinationAdditionalFeesModel() { DestinationLayerID = Model.ID })
        </div>
        <div id="editAdditionalFees" class="optionalForms">
            @Html.ActionLink("Edit Additional Fees", "EditAdditionalFees", new DestinationAdditionalFeesModel() { DestinationLayerID = Model.ID })
        </div>
    }
    <br />
    if (Model is IEnterExits)
    {
        IEnterExits myModel = Model as IEnterExits;
        if (myModel.EnterExits != null)
        {
            @Html.Partial("DetailEnterExits", myModel.EnterExits)
        }
        <div id="addEnterExits" class="optionalForms">
            @Html.ActionLink("Add Enter/Exits", "CreateEnterExits", new DestinationEnterExitsModel() { DestinationLayerID = Model.ID })
        </div>
        <div id="editEnterExits" class="optionalForms">
            @Html.ActionLink("Edit Enter/Exits", "EditEnterExits", new DestinationEnterExitsModel() { DestinationLayerID = Model.ID })
        </div>
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
